@font-face {
    font-family: "Geometric-Bold";
    src: url("../typo/geometric-231-bt-bold.ttf");
}

@font-face {
    font-family: "Geometric";
    src: url("../typo/geometric_231_bt.ttf");
}

body{
  margin: 0px;
  background-color: #F8EFF3;
  font-family: "Geometric";
}

.actuel{
  color: lightpink;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
/*    scroll-snap-type: block;*/

}



/*---------HEADER----------*/
header{
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
/*  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;*/
}

h2{
  font-size: 15vh;
}

.content {
  width: 100%;
  height: 100%;
  font-family: "Geometric-Bold";
  position: absolute;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;

}

header>nav{
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 4vh;
/*  text-align: right;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
/*  margin-right: 100px;*/
}

header>nav>ul>li{
  list-style: none;
  display: inline;
  margin-right: 5vh;
  font-family: "Geometric";
}

header>nav>ul>li>a{
  text-decoration: none;
  font-size: 4vh;
  color: white;
}

nav>ul>li>a:hover{
  transition-property: font-weight;
  transition-duration: 0.2s;
  font-weight: bold;
}


h1{
  font-size: 7vh;
  font-family: "Geometric-Bold";
  margin-left: 3.5vh;
/*  display: inline;*/
  margin-block-start: 0.15em;
  margin-block-end: 0em;
}

header>nav>h1>a{
  text-decoration: none;
  color: white;
}


#testVideo {
  position: fixed;
  top: 0;
  z-index: -1;
  min-height: 100vh;
  max-height:100vh;
  width: 100%;
  object-fit: cover;
}


/*---------NAV VERTICAL----------*/

#vertical{
 z-index: 2;
 position: fixed;
 top: 50%;
 transform: translate(0%, -50%);
}

#vertical>ul>li{
/*  list-style: none;*/
  color: rgba(255, 255, 255, 0.8);
  font-size: 4vh;
  margin-top: 10vh;
  font-family: "Geometric-Bold";
  margin-left: 3vh;
  transition: color 0.5s ease;
  transition: margin-left 0.3s ease-in-out;
}

#vertical>ul>li>a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-left: 2vh;
  transition: color 0.5s ease, font-size 0.5s ease;
}

#vertical>ul>li>a:hover{
  transition-property: color;
  transition-duration: 0.5s;
  color: rgba(255, 255, 255, 1);
}

#vertical>ul>li:hover{
  transition-property: color;
  transition-duration: 0.5s;
  color: rgba(255, 255, 255, 1);
  transition-property: margin-left;
  transition-duration: 0.3s;
  margin-left: 7vh;
}

#vertical>ul>li.active>a {
    font-size: 5vh;
}


/*---------SECTION----------*/
section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 3.3vh;
}

section>div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
  margin-right: 10vh;
  width: 67%;
}

section>div>p{
  text-align: justify;
}

section>div>video{
  width: 60%;
  align-self: center;
  margin-top: 3vh;
  margin-bottom:3vh;
}

.triple{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom:6vh;
}

.triple>video{
  width: 30%;
}

.triple>img{
  width: 30%;
}

.double{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom:6vh;
}

.double>video{
  width: 40%;
}

.double>img{
  width: 40%;
}

#six{
    margin-bottom:1vh;
}







/*----------------------------------------SOLITUDE------------------------------------------*/


/*---------DECONNEXION----------*/

#deconnexion{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #F8EFF3;
}


#ouverture{
  margin-bottom: 6vh;
}

#perdueCharlotte{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#perdueCharlotte>p{
  flex: auto;
  text-align: justify;
  margin-right: 5vh;
}

#perdueCharlotte>video{
  width: 40%;
  align-self: center;
}




/*---------DECALAGE----------*/

#decalage{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #B3BFDC;
}

#moquette{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#moquette>p{
  flex: auto;
  text-align: justify;
  margin-right: 5vh;
}

#moquette>img{
  width: 30%;
  align-self: center;
}




/*---------SEULS----------*/

#seuls{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #F5ECE5;
}









/*----------------------------------------RENCONTRE------------------------------------------*/


/*---------DIALOGUE----------*/

#dialogue{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #F8EFF3;
}

#ascenseur{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#ascenseur>p{
  flex: auto;
  text-align: justify;
  margin-right: 5vh;
}

#ascenseur>img{
  width: 30%;
  align-self: center;
}




/*---------EXPERIENCES----------*/

#experiences{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #B3BFDC;
}

#karaoke{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#karaoke>p{
  flex: auto;
  text-align: justify;
  margin-right: 5vh;
}

#karaoke>img{
  width: 40%;
  align-self: center;
}



/*---------MIROIR----------*/

#miroir{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #F5ECE5;
}

#photo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom:3vh;
}

#imgseule{
  width: 50%;
}

/*---------SE RETROUVER----------*/

#seRetrouver{
  scroll-snap-align: start;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #F8EFF3;
}

#non{
  margin-bottom: 3vh;
}








/*----------------------------------------FOOTER------------------------------------------*/
footer{
  color: white;
  background-color: #717B95;
  text-align: center;
  font-family: "Geometric";
  font-size: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

footer>span{
  font-size: 3.2vh;
}


